# Diretórios de configuração/editor
.vscode/
.config/

# Saídas de build .NET/MAUI
bin/
obj/

# Visual Studio / JetBrains
.vs/
.idea/

# Arquivos específicos de usuário
*.user
*.userosscache
*.suo
*.sln.docstates

# Testes e cobertura
TestResults/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml